.userCenterLayout {
  padding: 50px;
  &Wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;

    &Sider {
      width: 250px;
      :global{
        .ant-card {
          .ant-card-body {
            border-radius: 0;
          }
        }
        .ant-menu{
          border-right: 0px!important;
        }
      }
    }

    &Content {
      flex: 1;
    }
  }
}